@import "../../../styles/variables";
@import "../../../styles/mixins";

.features-title {
  font-size: 2.5rem;
  margin-top: 115px;
  margin-bottom: 26px;
}
.features-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 46px;
  margin-top: 72px;
  background-color: $color-blue-light;
  margin-inline: 110px;
  border-radius: 16px;
}

.features-section {
  display: flex;
  justify-content: center;
  gap: 40px;
  flex-wrap: wrap;
}

.feature-item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 78px;

  img {
    height: 60px;
    width: 60px;
    margin-bottom: 39px;
  }

  h4 {
    font-size: 1.25rem;
    margin-bottom: 14px;
  }

  p {
    text-align: left;
    font-size: 0.9375rem;
    max-width: 311.5px;
    max-height: 55px;
    line-height: 27px;
  }
}

@include tablet {
  .features-section {
    gap: 20px;
  }

  .feature-item {
    max-width: 45%;
    align-items: center;
    text-align: center;

    img {
      margin-bottom: 20px;
    }

    p {
      text-align: center;
      max-width: 100%;
    }
  }

  .features-wrapper {
    margin-inline: 20px;
  }
}

@include mobile {
  .features-title {
    font-size: 35px;
    margin-top: 50px;
  }

  .features-wrapper {
    width: 100vw;
    margin: 0;
    border-radius: 0;
  }

  .features-section {
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0;
    width: 100%;
  }

  .feature-item {
    max-width: 100%;
    align-items: center;
    text-align: center;
    margin-bottom: 40px;

    img {
      width: 60px;
      height: 60px;
      margin-top: -30px;
    }

    h4 {
      font-size: 1.25rem;
    }

    p {
      max-width: 311.5px;
      font-size: 0.9375rem;
      line-height: 24px;
    }
  }
}
