@import "../../styles/mixins";

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40px 120px;
  border-bottom: 1px solid #eaeaea;
  background: #fff;

  h1{
    font-size: 20px;
  }
  ul{
    display: flex;
    gap: 40px;
    li{
        padding: 16px 8px;
    }
  }
   .icon-div {
    display: flex;
    align-items: center; //?
  }
  .cart-img {
    width: 30px;
    height: 30px;
    display: block;
  }
  .menu-img {
    display: none;
  }

  @include tablet {
        padding: 24px 32px;
        gap: 16px
        
        h1{
            font-size: 18px;
        }
        ul{
            gap:24px;    
        }
        .cart-img{
            width: 30px;
            height: 30px;
        }
    }
 @include mobile{
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 12px 16px;
    ul{
        display: none;
    }
    .menu-img{
        display: block;
        width: 26px;
        height: 26px;
    
    }
 }
}

//fix icon alignment on mobile version 


