@import "../../../styles/mixins";
@import "../../../styles/variables";

.top-cars-section {
  text-align: center;
  margin-top: 114px;
}

.top-cars-title {
  margin-top: 120px;
  margin-bottom: 114px;
}

.top-cars-grid {
  display: grid;
  grid-template-columns: repeat(4, minmax(260px, 1fr));
  padding-inline: 260px;
  gap: 30px;
  margin: 0 auto;
  width: 100%;
}

.top-cars-button {
  @include btn($color-blue-medium, $color-white, 12px, $color-blue-medium);

  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 160px;
  height: 60px;
  font-weight: 700;
  margin-top: 130px;
}

@include tablet {
  .top-cars-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding-inline: 40px;
  }

  .top-cars-button {
    margin-top: 80px;
  }
}

@include mobile {
  .top-cars-title {
    margin-bottom: 80px;
  }
  .top-cars-grid {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
  }

  .top-cars-button {
    margin-top: 60px;
    margin-bottom: 80px;
  }
}
