@mixin flex($align: stretch, $justify: flex-start) {
  display: flex;
  align-items: $align;
  justify-content: $justify;
}

@mixin btn(
  $bg-color: $color-blue-medium,
  $text-color: $color-white,
  $radius: 12px,
  $border-color: transparent
) {
  background-color: $bg-color;
  color: $text-color;
  border: 1px solid $border-color;
  border-radius: $radius;
  cursor: pointer;
  transition: all 0.25s ease-in-out;
  &:hover {
    transform: scale(1.05);
  }
}

//* &:hover and &:active - WIP

@mixin mobile {
  @media (max-width: 576px) {
    @content;
  }
}

@mixin tablet {
  @media (max-width: 992px) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: 1024px) {
    @content;
  }
}

//? dobule-check responsive width
