$color-primary: #050B20;    // text primary
$color-white: #FFFFFF;         
$color-black: #000000;

$color-blue-light: #E9F2FF;
$color-blue-medium: #405FF2;

$color-pink-light: #FFE9F3;     // accent

$color-gray-light: #E9E9E9;
$color-gray-medium: #808080;
$color-gray-dark: #393939; 