@import "../../styles/mixins";

.about-contact-title {
  text-align: center;
  font-size: 6rem;
  margin-top: 90px;
  margin-bottom: 96px;
}

.about-contact-img {
  margin-bottom: 143px;
}

@include tablet {
  .about-contact-title {
    font-size: 4rem;
    margin-top: 50px;
    margin-bottom: 50px;
  }

  .about-contact-img {
    margin-bottom: 50px;
  }
}

@include mobile {
  .about-contact-title {
    font-size: 2.5rem;
    margin-top: 40px;
    margin-bottom: 40px;
  }
}
