@import "../../styles/main.scss";

h2 {
  text-align: center;
  margin-top: 150px;
  margin-bottom: 45px;
  font-size: 2.5rem;
  font-weight: bold;
}

h3 {
  font-weight: bold;
  font-size: 1.875rem;
  width: 233.5px;
}

p {
  width: 400px;
  margin-top: 14px;
  margin-bottom: 14px;
}

.wrapper {
  display: flex;
  justify-content: center;
  gap: 59px;
  padding-inline: 260px;
}

.left-wrapper,
.right-wrapper {
  flex: 1;
  border-radius: 16px;
  padding: 80px 80px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.left-wrapper img,
.right-wrapper img {
  align-self: flex-end;
}

.left-wrapper {
  background-color: $color-blue-normal;
}

.right-wrapper {
  background-color: $color-pink-light;
}

.button-primary,
.button-tertiary {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

img.button-image {
  height: 14px;
  width: 14px;
  align-self: center;
}
