@import "../../../styles/reset";
@import "../../../styles/variables";
@import "../../../styles/mixins";

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  max-width: 328px;
  border-radius: 16px;
  overflow: hidden;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.6);
  transition: all 0.25s ease-in-out;
  &:hover {
    transform: scale(1.05);
  }
  .card-bookmark {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 36px;
    height: 36px;
    background: white;
    border-radius: 50%;
    @include flex(center, center);
    cursor: pointer;
    .card-bookmark-icon {
      width: 12px;
      height: 12px;
      object-fit: contain;
    }
  }
  .card-image {
    width: 100%;
    aspect-ratio: 3/2;
    object-fit: cover;
  }
  .card-content {
    padding: 16px 32px;
    background-color: $color-blue-light;
    .card-header {
      .card-title {
        font-size: 1.1rem;
        font-weight: 500;
        margin-bottom: 8px;
      }
      .card-description {
        font-size: 0.9rem;
        line-height: 1;
      }
    }
    .card-details {
      @include flex(center, space-between);
      border-block: 1px solid $color-primary;
      padding-block: 14px;
      margin-block: 16px;
      .card-detail {
        @include flex(center);
        flex-direction: column;
        gap: 12px;
        .card-detail-icon {
          width: 18px;
          height: 18px;
          object-fit: contain;
        }
        .card-detail-value {
          font-size: 0.9rem;
          line-height: 1;
          text-transform: capitalize;
        }
      }
    }
    .card-footer {
      @include flex(center, space-between);
      .card-price {
        font-size: 1.3rem;
        font-weight: 700;
        line-height: 1.5;
      }
      .card-link {
        .card-link-content {
          @include flex(center);
          gap: 10px;
          .card-link-text {
            font-weight: 500;
            line-height: 1.7;
          }
        }
      }
    }
  }
}
